.body-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 0.75rem 2rem;
}

.nd-header {
    margin-top: 1.5rem;
}

#auto-content {
    width: 100%;
}
.intro-text-detail{
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 1rem;
	padding-bottom: 6rem;
}
.img-position {
    margin-top: 1rem;
    margin-bottom: 2rem;
}