html, body {
    font-family: "Arial";
    font-style: normal;
    height: 100%;
    padding: 0;
    margin: 0;
}

.body-background {
    background-color: #f5f5f5;
}

.no-border-bottom {
    border-bottom: none !important;
}

@media (max-width: 768px) {
    .header-img {
        width: 80%;
    }
}

/*头部*/
.header-style {
    background-color: #FFFFFF;
}

.header-style a {
    color: black;
}

.header-style .navbar-expand-sm {
    background: white;
}

.header-top-label {
    margin-top: 0.5rem;
    margin-bottom: 1px;
}

.light-black {
    color: #717171 !important;
}

.weak-light-black {
    color: #848484 !important;
}

.social-icons {
    margin-right: 1.5rem;
}

.nav-footer {
    /*height: 10.625rem;*/
    background-color: #3b4157;
    color: #808080;
}

/*底部*/
.nav-footer-item {
    padding: 1rem;
    list-style: none;
}

.erweima {
    margin-left: 90%;
}

.nav-link {
    width: 6rem;
}

.nav-logos {
    width: 30.3125px;

}

.nav-items {
    min-width: 45rem;
}

.header-menu .nav-item a:hover {
    color: black;
    background-color: white;
}

.nav-link-first-nome:hover {
    background-color: white !important;
    cursor: initial;
}

.dropdown-menu {
    position: absolute;
    top: 83%;
    left: 0rem;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 5rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: white;
    text-align: center;
    list-style: none;
    background-color: #49649f;
    background-clip: padding-box;
    border: none;
    width: 6rem;
    border-radius: 0;
}

.dropdown-menu a :hover {
    color: black;
    text-align: center;
    list-style: none;
    background-color: white;
}

.dropdown-item {
    padding: .25rem 1rem;
}

.dropdown-menu a {
    color: white;
    text-align: center;
    list-style: none;
    background-color: #49649f;
}

.nav-tabs {
    border-bottom: 0px solid #ddd;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: white;
    background-color: #49649f;
    border-color: #ddd #ddd #fff;
}

.nav-tabs .nav-link {
    border: none;
}

.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.nav > li:hover .dropdown-menu {
    display: block;
    background-color: #49649f;
}

.nav > li:hover .dropdown {
    display: block;
    color: white;
    background-color: #49649f;
}

.nav > li:hover .nav-item {
    background-color: #49649f;
}

.nav-nav-width {
    min-width: 77.875rem;
    max-width: 87.5rem;
}

.nav-pills .nav-link.active,
.show > .nav-pills .nav-link {
    color: #fff;
    background-color: #49649f;
}

.row-nav {
    margin-top: 1.75rem;
    padding-bottom: 1rem;
    background-color: white;
}

/*sitemap*/
.breadcrumb {
    background: #f5f5f5;
    margin-bottom: 0 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">" !important;
    color: #444a4e !important;
}

.breadcrumb .breadcrumb-item a {
    color: #444a4e;
}

.breadcrumb .active a {
    color: #49649f !important;
}

#auto-content {
    width: 100%;
    text-align: justify;
}

#auto-content .self-html{
    width: 100%;
    display: block;
    clear: both;
}

#auto-content img{
    max-width: 100%;
}

/*验证*/
.error {
    color: red !important;
    font-size: 12px !important;
}
/*轮播图*/
.carousel{
    width: 100%;
   height: auto;
}
