.mt-self{
    margin-top: 5.4rem;
}

/*主*/
.main {
    background-color: #f5f5f5;
    padding-bottom: 1.5rem;
}

.main .top-row {
    padding-top: 1.5rem;
}

.main .bottom-row {
    padding-top: 1.5rem;
}

.main .block {
    border: 1px solid #ddd;
}

/*下面四个小块*/
.block .block-header {
    height: 2.8rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.block .block-header span {
    font-size: 18px;
    color: #333333;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 2rem;
}

.block .block-header .icon {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    top: 50%;
    transform: translate(0, -50%);
    left: 0.5rem;
}

.block .block-header a {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 2rem;
    color: #999999;
    font-size: 15px;
}

.block .block-header a img {
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 0.2rem;
}

.block .block-body {
    min-height: 20rem;
    background-color: #fff;
    padding-bottom: 0.75rem;
    overflow: hidden;
    position: relative;
}

/*新闻中心*/
.news-block .left-list {
    width: 12%;
    float: left;
    /*padding-left:0.9375rem ;
    padding-right:0.9375rem ;*/
    
}
.tab-div-style{
	padding-left:0.4rem ;
    padding-right:0.8375rem ;
	border-left: 4px solid #1C64AC;
	margin-left: 0.5375rem;
}

.list-group-item{
	border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    margin-bottom: 0px;
/*    border-left:1px solid rgba(0,0,0,.125) !important;*/
}

.news-block .right-list {
    width: 88%;
    float: left;
}

.news-block nav a.active {
    border-color: #dddddd;
    background-color: #ffffff;
    border-left: 4px solid #1C64AC;
}

/*商会介绍*/

@media (max-width: 768px) {
    .introduction-block .left-list {
        width: 100% !important;
    }

    .introduction-block .right-list {
        width: 100% !important;
    }
}

.introduction-block .left-list {
    width: 40%;
    float: left;
    text-align: center;
}

.introduction-block .right-list {
    width: 60%;
    float: left;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    text-align: justify;
}

.introduction-block .left-list img {
    width: 80%;
    padding-top: 1rem;
}

.introduction-block .intro-text {
    padding-top: 1rem;
    font-size: 14px;
    text-indent: 1.5rem;
    line-height: 1.4rem;
}

.introduction-block .list a {
    position: absolute;
    bottom: 3%;
    transform: translate(0, -50%);
    right: 2rem;
    color: #999999;
    font-size: 15px;
}
/*列表选项*/

.list-group-item {
	
    border: none;
    border-bottom-right-radius: 0rem !important;
    border-bottom-left-radius: 0rem !important;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.text-secondary {
    color: #c9c9c9 !important;
    font-size:0.75rem ;
}
.new-pics{
	position: relative;
    display: block;
    padding-top: .75rem ;
    padding-left: 0rem !important;
    padding-bottom: 0.75rem;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.tabs-vertical {
	/*  font: bold 13px sans-serif;*/
	/* background-color: #f7f7f7;*/
	/* box-shadow: 0 0 22px #E2E2E2 inset, 2px 2px 3px #E8E8E8;*/
	/* margin: 30px auto 30px;*/
	width: 100%;
	text-align: center;
	border-radius: 2px;
}


/* The tabs */

.panel-body {
	padding: 0px;
}

.tabs-vertical ul {
	float: left;
	list-style: none;
	text-align: left;
	margin: 0;
	padding-left: 0;
}

.tabs-vertical ul li {
	margin-right: -1px;
}

.tabs-vertical ul li a {
	display: block;
	text-decoration: none;
	color: #656a6d;
	/* border: 1px solid transparent;*/
	border-left: 4px solid #FFFFFF;
	padding: 10px 40px 5px 10px;
}

.tabs-vertical ul li a.tab-active {
	border-color: #dddddd;
	background-color: #ffffff;
	border-left: 4px solid #1C64AC;
}

.tabs-vertical ul li:first-child a {
	border-top: 0;
}


/* The content */

.tabs-vertical .tabs-content-placeholder {
	overflow: hidden;
	/*  border-left: 1px solid #dddddd;*/
	font-weight: normal;
	background-color: #fff;
	padding: 20px 0px 45px;
	margin: 0 auto;
	/*  box-shadow: -3px 0 0px #F3F3F3;*/
	text-align: center;
}

.tabs-vertical .tabs-content-placeholder div {
	display: none;
}

.tabs-vertical .tabs-content-placeholder div.tab-content-active {
	display: block;
}

.tabs-vertical .tabs-content-placeholder div p {
	color: #565a5c;
	line-height: 1.5;
	text-align: left;
	margin: 5px 0 20px;
}

.tabs-vertical .tabs-content-placeholder div img {
	max-width: 100%;
}

@media (max-width: 600px) {
	.tabs-vertical ul {
		float: none;
	}
	.tabs-vertical ul li {
		display: inline-block;
		margin-bottom: -1px;
	}
	.tabs-vertical ul li a {
		border: 1px solid transparent;
		border-bottom: 0;
		border-top: 0;
		padding: 12px 15px;
	}
	.tabs-vertical ul li a.tab-active {
		border-color: #dddddd;
		background-color: #ffffff;
		box-shadow: 2px 0px 0px #EFEFEF;
	}
	.tabs-vertical ul li:first-child a {
		border-left: 0;
	}
	.tabs-vertical .tabs-content-placeholder {
		padding: 15px 30px 30px;
		border-left: 0;
		border-top: 1px solid #dddddd;
		box-shadow: 0px -3px 0px #F3F3F3;
	}
}


/*.boxshadow{
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}*/