/*主*/
.main {
    background-color: #f5f5f5;
    padding-bottom: 1.5rem;
}

.main .top-row {
    padding-top: 1.5rem;
}

.main .bottom-row {
    padding-top: 1.5rem;
}

.main .block {
    border: 1px solid #ddd;
    
}

/*下面四个小块*/
.block .block-header {
    height: 2.8rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.block .block-header span {
    font-size: 18px;
    color: #333333;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 2rem;
}

.block .block-header .icon {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    top: 50%;
    transform: translate(0, -50%);
    left: 0.5rem;
}

.block .block-header a {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 2rem;
    color: #999999;
    font-size: 15px;
}

.block .block-header a img {
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 0.2rem;
}

.block .block-body {
    min-height: 18rem;
    background-color: #fff;
    padding: 0px;
    overflow: hidden;
    position: relative;
}

/*新闻中心*/

.news-block .left-list {
    width: 20%;
    float: left;
}

.news-block .right-list {
    width: 80%;
    float: left;
}

.news-block nav a.active {
    border-color: #dddddd;
    background-color: #ffffff;
    border-left: 4px solid #1C64AC;
}

.news-block .tab-item {
    cursor: pointer;
    padding-top: 0.2rem;
    padding-left: 1rem;
}

.news-block .tab-item-first {
    padding-top: 1rem !important;
}

.news-block .tab-item span {
    padding-left: 8px;
}

.news-block .tab-item-active span {
    border-left: 3px solid #1C64AC;
    color: #1C64AC;
    padding-left: 5px !important;
}

.news-block .item {
    height: 3rem;
    font-size: 14px;
    padding: 1rem 0.5rem 1rem 0.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    white-space: nowrap;

}

.news-block .item .title {
    height: 1rem;
    padding-left: 0.1rem;
    display: inline-block;
    /*width: 80%;*/
}

.news-block .item .date {
    color: #999999;
    /*padding-right: 0.5rem;*/
    float: right;
}

/*商会介绍*/

@media (max-width: 768px) {
    .introduction-block .left-list {
        width: 100% !important;
    }

    .introduction-block .right-list {
        width: 100% !important;
    }
}

.introduction-block .left-list {
    width: 40%;
    float: left;
    padding-left: 1.34rem;
}

.introduction-block .right-list {
    width: 60%;
    float: left;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    text-align: justify;
}

.introduction-block .left-list img {
    /*width: 80%;*/
    padding-top: 1rem;
}

.introduction-block .intro-text {
    padding-top: 1rem;
    font-size: 14px;
    text-indent: 1.5rem;
    line-height: 1.4rem;
}

.introduction-block .list a {
    color: #999999;
    font-size: 15px;
    padding: 1rem 2rem;
}

/*最新公告*/

.announce-block .item-cover {
    padding-left: 0.8rem;
}

.announce-block .item {
    height: 3rem;
    font-size: 14px;
    padding: 1rem 0.5rem 1rem 0.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    white-space: nowrap;

}

.announce-block .item .title {
    height: 1rem;
    padding-left: 0.1rem;
    display: inline-block;
/*    width: 80%;*/
}

.announce-block .item .date {
    color: #999999;
    /*padding-right: 0.5rem;*/
    float: right;
}

/*商贸服务*/
.service-block .row {
    height: 4.3rem;
}

@media (max-width: 768px) {
    .service-block .row {
        display: inline !important;
    }
}

.service-block .item {
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.service-block .item .title {
    padding-left: 5px;
}

