p{
        display:inline !important;
        width: 100%;
    }
.breadcrumb{
	background-color: white !important;
}
.content-warp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    background-color: #f5f5f5;
   
}
.card{
	border-radius: 0;
}
.card-img-top {
    width: 100%;
   border-top-left-radius: 0;
   border-top-right-radius: 0; 
}
.card-img-wrap{
	width: 84%;
	margin: 0 auto;
	margin-top: 1.6rem;
	
}
.breadcrumb{
	background-color:#f5f5f5 !important ;
}
.intro-text-detail{
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 2rem;
	padding-bottom: 6rem;
}
.img-position{
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.btn-color{
	background-color: #49649f;
	color: white;
	margin: 0 auto;
}
.btn-color:hover{
	background-color: #49519f;
	color: white;
	
}
 .text-title-container{
 	margin-bottom: 2rem;
 }
